@{
    ViewData["Title"] = "About Us";
}
<div class="text-center">
    <h1 class="display-4">About Us</h1>
</div>
<br>
<br>
<body>
    <div class = "text-center">
        <p></b>Welcome to <b>Gecko!</b></p>
    </div>
</body>