@{
    ViewData["Title"] = "About Us";
}
<div class="text-center">
    <h1 class="display-4">About Us</h1>
</div>
<br>
<br>

<body>
    <div class="text-center">
        <div>
            <p><b>Welcome to Gecko - Your Affordable Tech Destination!</b></p>
        </div>
        <div class>
        <br>
        <p>At Gecko, we understand that staying connected in today's fast-paced world doesn't have to break the bank. We
            are your go-to source for high-quality, affordable smartphones and tech accessories that won't compromise on
            performance or style.</p>
        </div>
        <div class="text-center">
        <p><b>Our Misson</b></p>
        </div>
        <div class>
        <p>Our mission is simple: to make cutting-edge technology accessible to everyone. We believe that everyone
            deserves a reliable smartphone, regardless of their budget. We've carefully curated a selection of
            budget-friendly phones that offer the best features and value for your money.</p>
        </div>
        <div class="text-center">
        <p><b>Why Choose Us?</b></p>
        </div>
        <div class>
        <p>Affordability: We specialize in budget-friendly smartphones without sacrificing quality or
            performance. We believe that you don't need to spend a fortune to get a fantastic phone. </p>
        <p>Quality Assurance: Every product we offer undergoes rigorous quality testing to ensure you receive a
            reliable device that meets your expectations.</p>
        <p>Wide Selection: We offer a wide range of smartphones, from basic models to feature-packed devices,
            catering to diverse preferences and requirements.</p>
        </div>
        <div class="text-center">
        <p><b>Customer Satisfaction</b></p>
        </div>
        <div class>
        <p>Your satisfaction is our top priority. We are committed to delivering exceptional customer service throughout
            your shopping experience. From browsing our selection to post-purchase support, we're here to ensure you
            have a smooth and enjoyable journey with us.</p>
        <p>Stay Connected, Stay Thrifty</p>
        </div>
    </div>
</body>